[package]
authors = ["Mark Simulacrum <mark.simulacrum@gmail.com>"]
build = "build.rs"
categories = ["development-tools"]
description = "Bisects rustc toolchains with rustup"
keywords = ["rustup"]
license = "MIT OR Apache-2.0"
name = "cargo-bisect-rustc"
readme = "README.md"
repository = "https://github.com/rust-lang/cargo-bisect-rustc"
version = "0.3.0"
edition = "2018"

[dependencies]
dialoguer = "0.5.0"
dirs = "2.0"
env_logger = "0.7.1"
failure = "0.1"
flate2 = "1.0.13"
git2 = "0.11"
log = "0.4"
pbr = "1.0.2"
regex = "1.3.4"
reqwest = "0.9"
rustc_version = "0.2"
structopt = "0.2.5"
tar = "0.4"
tee = "0.1"
tempdir = "0.3.6"
xz2 = "0.1.6"
chrono = "0.4.10"

[dev-dependencies]
quickcheck = "0.9.2"
